<a href="https://colab.research.google.com/github/ShabeerP/Python-Basics/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 1.Creating python code for extracting months from the date/month/year format.

from datetime import datetime

def get_month(date_string):
    # Parsing the date string into a datetime object
    date_object = datetime.strptime(date_string, "%d/%m/%Y")

    # Extracting the month from the datetime object
    month = date_object.month

    return month

# Example
date_string = "09/06/2023"
selected_month = get_month(date_string)
print(selected_month)

6

In [12]:
# 3.creating a matrix diagram using python code snippets

# Define the dimensions of the matrix
num_rows = 5
num_cols = 5

# Create the matrix
matrix = [[0] * num_cols for _ in range(num_rows)]

# Iterate through the matrix
for i in range(num_rows):
    for j in range(num_cols):
        # Set the relationship based on row index i and column index j
        if i == j:
            relationship = "Same"
        elif i < j:
            relationship = "Before"
        else:
            relationship = "After"

        # Print the relationship
        print(f"Row {i} is {relationship} Column {j}")

        # Assign the relationship to the matrix element
        matrix[i][j] = relationship

# Print the matrix
print("\nMatrix:")
for row in matrix:
    print(row)

Row 0 is Same Column 0
Row 0 is Before Column 1
Row 0 is Before Column 2
Row 0 is Before Column 3
Row 0 is Before Column 4
Row 1 is After Column 0
Row 1 is Same Column 1
Row 1 is Before Column 2
Row 1 is Before Column 3
Row 1 is Before Column 4
Row 2 is After Column 0
Row 2 is After Column 1
Row 2 is Same Column 2
Row 2 is Before Column 3
Row 2 is Before Column 4
Row 3 is After Column 0
Row 3 is After Column 1
Row 3 is After Column 2
Row 3 is Same Column 3
Row 3 is Before Column 4
Row 4 is After Column 0
Row 4 is After Column 1
Row 4 is After Column 2
Row 4 is After Column 3
Row 4 is Same Column 4

Matrix:
['Same', 'Before', 'Before', 'Before', 'Before']
['After', 'Same', 'Before', 'Before', 'Before']
['After', 'After', 'Same', 'Before', 'Before']
['After', 'After', 'After', 'Same', 'Before']
['After', 'After', 'After', 'After', 'Same']

In [8]:
# 2.Creating a Python code for " Print the sentence exactly as shown in a single line with no more than one space between each text -> My address is 23\navi Mumbai, "Gandhi" nagar \times office'

address = 'My address is 23\\navi Mumbai, "Gandhi" nagar \\times office'

# Remove newlines and replace multiple spaces with a single space
formatted_address = ' '.join(address.split())

print(formatted_address)

My address is 23\navi Mumbai, "Gandhi" nagar \times office

In [11]:
# 4.Write a simple code to take inputs (Name, Age, Gender, Department, Percentage) and display as ->

#-----------
#Profile
#=========
#Name : Ani
#Age : 21
#Gender : Female
#Department : Finance
#Percentage : 50.0 %
#/\/\/\/\/\/\/\/\
#-----------
name = input("Enter Name: ")
age = input("Enter Age: ")
gender = input("Enter Gender: ")
department = input("Enter Department: ")
percentage = input("Enter Percentage: ")

print("-----------")
print("Profile")
print("=========")
print("Name :", name)
print("Age :", age)
print("Gender :", gender)
print("Department :", department)
print("Percentage :", percentage, "%")
print("/\\/\\/\\/\\/\\/\\")
print("-----------")

Enter Name: asd
Enter Age: 12
Enter Gender: m
Enter Department: qwe
Enter Percentage: 23
-----------
Profile
=========
Name : asd
Age : 12
Gender : m
Department : qwe
Percentage : 23 %
/\/\/\/\/\/\
-----------